{% extends "base.html" %}

{% block banner %}
  <div class="row">
        <div class="col s12 center-align" style= 'background-color : #ddd'>
          <i class='material-icons'>apps</i>
          <h5>-----category -------</h5>
          <h5> technology h5>
        </div>
      </div>
{% endblock banner %} 
<p>hello</p>
{% block content %}
      <div class="row">
        {% for article  in articles  %}
          <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{{article.picture.url}}">
              <span class="card-title">{{article.title}}</span>
            </div>
            <div class="card-content">
              <p>{{article.content}}</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
{% endblock content %}