{% extends 'base.html' %}

{% block content %}
<h4>latest posts</h4><hr>
<!-- image card-->
<div class="row">
  {% for article in articles %}
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="{{article.picture.url}}">
        <span class="card-title">{{article.title}}</span>
      </div>
      <div class="card-content">
        <p>{{article.content}}</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
  {% endfor %}


  </div>
{% endblock content %}